In [19]:
import pandas as pd 

#Reading the CSV file
wine = pd.read_csv('wine.csv')

wine.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [20]:
#Taking away the 'Unnamed' column:
wine = wine.loc[:, ~wine.columns.str.contains('^Unnamed')]

In [21]:
#Dropping null values at the 'country' column
wine = wine.dropna(axis=0, subset=['country']) 

# Dropping duplicates
wine = wine.drop_duplicates()

In [22]:
#Checking if country has any sentence longer than 2 words
wine[wine['country'].str.split().str.len() > 2]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
7520,Bosnia and Herzegovina,A mix of red and black fruits pervade on the n...,NaN,88,12.0,Mostar,NaN,NaN,Blatina,Winery Čitluk
37323,Bosnia and Herzegovina,Ripe and fruity on the nose and palate with no...,NaN,83,13.0,Mostar,NaN,NaN,Blatina,Winery Čitluk
90565,Bosnia and Herzegovina,"Toasted oak and cedar notes meld into lush, ri...",Vranac,85,13.0,Mostar,NaN,NaN,Vranec,Winery Čitluk

In [23]:
# Checking if we have nulls at this column
wine['country'].isna().sum()

0

In [24]:
# As there are no weird values at the 'country' column,
# now I want to see an array of unique countries in the wine DF.
wine['country'].unique()

array(['US', 'Spain', 'France', 'Italy', 'New Zealand', 'Bulgaria',
       'Argentina', 'Australia', 'Portugal', 'Israel', 'South Africa',
       'Greece', 'Chile', 'Morocco', 'Romania', 'Germany', 'Canada',
       'Moldova', 'Hungary', 'Austria', 'Croatia', 'Slovenia', 'India',
       'Turkey', 'Macedonia', 'Lebanon', 'Serbia', 'Uruguay',
       'Switzerland', 'Albania', 'Bosnia and Herzegovina', 'Brazil',
       'Cyprus', 'Lithuania', 'Japan', 'China', 'South Korea', 'Ukraine',
       'England', 'Mexico', 'Georgia', 'Montenegro', 'Luxembourg',
       'Slovakia', 'Czech Republic', 'Egypt', 'Tunisia', 'US-France'],
      dtype=object)

In [25]:
#I want to check on this specific row
cond = wine['country'] == 'US-France'
wine[cond]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
144054,US-France,"Defies categorization, in more ways than one. ...",NaN,88,50.0,Santa Barbara County-Condrieu,NaN,NaN,Viognier,Deux C

In [26]:
# A quick search on Google shows 'Santa Barbara County-Condrieu' is in the US, so I will change this 'US-France' to 'US'
wine.loc[cond, ['country']] = 'US'

# Now checking 'US-France' is gone
wine['country'].unique()

array(['US', 'Spain', 'France', 'Italy', 'New Zealand', 'Bulgaria',
       'Argentina', 'Australia', 'Portugal', 'Israel', 'South Africa',
       'Greece', 'Chile', 'Morocco', 'Romania', 'Germany', 'Canada',
       'Moldova', 'Hungary', 'Austria', 'Croatia', 'Slovenia', 'India',
       'Turkey', 'Macedonia', 'Lebanon', 'Serbia', 'Uruguay',
       'Switzerland', 'Albania', 'Bosnia and Herzegovina', 'Brazil',
       'Cyprus', 'Lithuania', 'Japan', 'China', 'South Korea', 'Ukraine',
       'England', 'Mexico', 'Georgia', 'Montenegro', 'Luxembourg',
       'Slovakia', 'Czech Republic', 'Egypt', 'Tunisia'], dtype=object)

In [36]:
# Let's see if there are any Nulls at the price column
wine['price'].isna().sum()

8720

In [35]:
# Price does not seem to be an intrinsic parameter, so the same bottle of wine could have different prices.
cond1 = 'Domaine Vacheron'
cond2 = 'Sauvignon Blanc'
cond3 = 'Les Romains'
evidence = wine.query('winery == @cond1  & variety == @cond2 & designation == @cond3')
#Now, here is the evidence of what I stated above.
evidence.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
56353,France,A fine combination of apples and cream flavors...,Les Romains,92,59.0,Loire Valley,Sancerre,NaN,Sauvignon Blanc,Domaine Vacheron
57279,France,"The name of the wine, the Romans, reminds us t...",Les Romains,93,NaN,Loire Valley,Sancerre,NaN,Sauvignon Blanc,Domaine Vacheron
68673,France,"While Vacheron is famed for its reds, the whit...",Les Romains,92,27.0,Loire Valley,Sancerre,NaN,Sauvignon Blanc,Domaine Vacheron
95588,France,Intense herbal and green flavors are balanced ...,Les Romains,91,55.0,Loire Valley,Sancerre,NaN,Sauvignon Blanc,Domaine Vacheron
148849,France,"From a 5-acre parcel, this is a wine that atta...",Les Romains,88,52.0,Loire Valley,Sancerre,NaN,Sauvignon Blanc,Domaine Vacheron

In [37]:
# There are 8720 rows with the price column empty. As price for a specific bottle is not unique, I will delete  
# all of them, as I have no way of getting to know the price in which the bottle was bought.
wine = wine.dropna(subset=['price'])

In [40]:
# Let's see if there are any Nulls at the points column
wine['points'].isna().sum()

0

In [42]:
# Let's see if there are any Nulls at the province column
wine['province'].isna().sum()

0

In [43]:
# Let's see if there are any Nulls at the variety column
wine['variety'].isna().sum()

0

In [44]:
# Let's see if there are any Nulls at the winery column
wine['winery'].isna().sum()

0